<header id="header" class="header">
  <div class="indicator">
    <div class="number"><span class="index" id="index">00</span><span class="sum">/03</span></div>
    <div class="progress-bar">
      <div class="active-bar" id="active-bar"> </div>
      <div class="bg-bar"> </div>
    </div>
    <div class="button-nav">
      <button class="next nav-arrow-link scroll-to" id="next-btn">←</button>
      <button class="prev nav-arrow-link scroll-to" id="prev-btn" disabled>→</button>
    </div>
  </div>
  <nav>
    <a class="nav-link scroll-to" href="#our-story" id="our-story-link">OUR STORY</a>
    <a class="nav-link scroll-to" href="#occasions" id="occasions-link">OCCASIONS</a>
    <a class="nav-link scroll-to" href="#contact-us" id="contact-us-link">CONTACT US</a>
  </nav>
</header>
