<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{{ $.Site.Title }}</title>
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#011627">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Lifted Plate">
  <meta name="application-name" content="Lifted Plate">
  <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="{{ if .Params.description }}Lifted Plate | {{ .Params.description }}{{ else }}Lifted Plate is your full service catering and events company, serving the San Francisco Bay Area.{{ end }}">
  <link rel="stylesheet" href="/css/main.css"/>
</head>
