a,
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-weight: $regular;
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: inherit;
  }
}

.nav-link,
.our-story .cta .link {
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 12px;
  opacity: .5;
  letter-spacing: 3px;
  line-height: 33px;
  margin: 0;
  padding: 0;
}
