.footer {
  background: white;

  @media screen and (max-width: $tabletMax) {
    background: $lightestGreen;
    padding-top: $medium;
  }

  .watermark {
    position: absolute;
    width: 220px;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .copyright {
    position: relative;
    color: $grey;
    font-size: 10px;
    line-height: $medium;
    display: block;
    text-align: right;

    span {
      opacity: .3;
    }
  }
}
