@lost gutter 20px;
@lost flexbox flex;

.container {
  lost-center: 940px;
  padding: 0 $small;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
section {
  margin: 0;
  padding: 0;
  font-family: $poppins;
  font-size: $tiny;
  color: $grey;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.clearfix {
  lost-utility: clearfix;
}

hr {
  border: none;
  height: 1px;
  background: $green;
  width: $xl;
  margin: $tiny 0;
  transform: translateX(calc($xl / -2));
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 14px;
  position: absolute;
  transform: translateY(-27px);

  &.halved {
    transform: translateY(103px);

    &:last-child {
      left: calc(50% + 10px);
    }
  }
}