@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:400,500|Roboto:500');

html,
body,
section {
  color: $grey;
  font-size: $tiny;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h4 {
  font-family: $playfair;
  font-weight: $display;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 34px;
  line-height: 42px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-family: $poppins;
  font-weight: $bold;
}

h4 {
  text-transform: uppercase;
  font-size: $tiny;
  letter-spacing: 1.83px;
  line-height: 21px;
}

p {
  font-size: $tiny;
  line-height: 26px;
}
