@import url('https://fonts.googleapis.com/css?family=Muli:900|Roboto:700');
@import "imports/reset.css";
@import "imports/global.css";
@import "imports/typography.css";
@import "imports/buttons.css";
@import "imports/header.css";
@import "imports/footer.css";

section:not(.our-story) {
  background-color: white;
}

@keyframes showNotification {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

#notification {
  display: none;

  &.active {
    display: block;
    background: $lightGreen;
    padding: $small;
    width: 100%;
    box-sizing: border-box;
    font-weight: $bold;
  }
}

.hero {
  lost-align: middle-left;
  position: relative;
  margin-bottom: calc($xxl + calc($large * 2) + 106px); /* height of video parallax */
  box-sizing: border-box;
  padding: $medium 0;

  @media screen and (min-width: $tablet) {
    padding: $large 0;
    min-height: 100vh;
    margin-bottom: calc(300px + calc($large * 2) + 106px); /* height of video parallax */
  }

  &:after {
    @media screen and (min-width: $tablet) {
      content: '';
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: url(/img/hero-bg.png) 55vw 0 no-repeat;
      background-size: contain;
      background-size: auto 100%;
      height: calc(100vh + $large);
    }

    @media screen and (min-width: 1278px) and (max-height: 640px) {
      background-position: top right;
    }

    @media screen and (max-height: 640px) {
      background: url(/img/hero-bg.png) 55vw 0 no-repeat;
      background-size: contain;
      background-size: 45vw auto;
      height: calc(100% + $large);
      min-height: calc(100vh + $large);
    }
  }

  .content {
    @media screen and (min-width: $tablet) {
      lost-column: 3/5;

      .paragraphs {
        lost-align: top;
      }
    }

  }

  .logo {
    display: none;
    height: $large;
    width: auto;
    margin-bottom: $small;

    @media screen and (min-width: $desktop) {
      display: initial;
    }
  }

  h3 {
    margin-bottom: $micro;
  }

  p {
    color: $lightGrey;

    @media screen and (min-width: $tablet) {
      lost-column: 1/2 2;
    }
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
  overflow: hidden;

  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.our-story {
  background: $lightestGreen;
  position: relative;
  padding-bottom: $large;

  @media screen and (min-width: $desktop) {
    min-height: 100vh;
    background: transparent;
    padding-bottom: calc(34px + $large);

    &:after {
      content: '';
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      height: calc(100% - $large - 106px);
    }
  }

  .container {
    background: $lightestGreen;
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
      padding: $large $large $large 0;
      margin-top: calc(-106px - $large);
    }

    > * {
      z-index: 1;
    }

    &:before {
      content: '';
      position: absolute;
      background: $lightestGreen;
      width: 5000px;
      height: 100%;
      left: calc(50% - 5000px);
      top: 0;
    }
  }

  .headline {
    position: relative;
    padding-top: $large;

    @media screen and (min-width: $desktop) {
      padding-top: initial;
      lost-column: 3/12;

      hr {
        position: absolute;
        right: 0;
        top: 7px;
        transform: none;
        z-index: -1;
      }
    }
  }

  .content {
    margin-bottom: $small;

    @media screen and (min-width: $tablet) {
      width: 100%;
    }

    @media screen and (min-width: $desktop) {
      lost-column: 7/12;
      margin-bottom: -139px;
    }

    p {
      max-width: 600px;

      @media screen and (min-width: $desktop) {
        max-width: 100%;
      }

      &:first-child {
        margin-top: 6px;
      }
    }
  }

  .cta {
    background: $orange;
    color: white;
    box-sizing: border-box;
    padding: $small;
    transition: background .2s ease;
    cursor: pointer;
    width: 100%;

    @media screen and (min-width: $desktop) {
      transform: translateX(calc((100% / 3) - 3px + $small));
      width: initial;
      lost-offset: -1/12;
      lost-column: 3/12 3;
    }

    @media screen and (min-width: 1080px) {
      transform: translateX(calc((99.9% / 3) * 2));
    }

    &:hover {
      background: $grey;
    }

    p {
      margin: -7px 0 19px 0;
      padding: 0;

      &:not(.link) {
        font-size: 14px;
      }
    }

    .link {
      opacity: 1;
      margin: 0 0 -13px 0;

      &:after {
        content: '→';
        float: right;
      }
    }
  }

  .rosemary {
    position: absolute;
    z-index: 2;
    mix-blend-mode: multiply;
    max-width: 525px;
    max-height: 381px;
    height: auto;
    top: -44px;
    width: 50%;
    left: 60%;

    @media screen and (min-width: $mobile) {
      top: -54px;
      width: 35%;
      left: 70%;
    }

    @media screen and (min-width: $desktop) {
      top: initial;
      bottom: -$medium;
      left: 80%;
      width: 20vw;
    }
  }
}

.occasions {
  padding: $large 0;
  position: relative;

  @media screen and (min-width: $tablet) {
    min-height: 100vh;

    &:before {
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $large;
      height: 100%;
      z-index: 1;

      @media screen and (min-width: 1351px) {
        left: 182px;
      }
    }
  }

  .carousel {
    width: 100vw;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    scroll-behavior: smooth;

    @media screen and (min-width: 1351px) {
      margin-left: 182px;
      width: calc(100vw - 182px);
    }

    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: calc(((100vw - ($small * 3)) * 5) + ($small * 4));
    white-space: nowrap;

    @media screen and (min-width: $tablet) {
      width: calc((350px * 5) + ($small * 4));
    }
  }

  li {
    width: calc(100vw - ($small * 3));
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: $tiny;

    @media screen and (max-width: $tabletMax) {
      &:first-child {
        margin-left: $small;
      }
    }

    @media screen and (min-width: $tablet) {
      margin-left: $large;
      width: 350px;
    }

    &:last-child {
      margin-right: $small;

      @media screen and (min-width: $tablet) {
        margin-right: $large;
      }
    }
  }

  .thumbnail {
    background: $lightGreen;
    width: 100%;
    height: 500px;

    &.weddings {
      background: $lightGreen url(/img/weddings-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.corporate {
      background: $lightGreen url(/img/corporate-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.office {
      background: $lightGreen url(/img/office-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.private {
      background: $lightGreen url(/img/private-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.meetings {
      background: $lightGreen url(/img/meeting-thumb.jpg) no-repeat center;
      background-size: cover;
    }
  }

  .content {
    margin-top: -$xxl;
    background: white;
    width: calc(100% - $tiny);
    padding: $small $small $small 0;
    box-sizing: border-box;

    @media screen and (min-width: $tablet) {
      padding: $small;
      width: calc(100% - $large);
    }

    h2,
    p,
    hr {
      white-space: normal;
    }

    hr {
      @media screen and (max-width: $tabletMax) {
        transform: translateX(-$micro);
      }
    }

    p {
      color: $lightGrey;
      font-size: 14px;
    }
  }

  .controls {
    margin: -$small 0 0 $small;
    width: calc(100vw - ($small * 2));
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @media screen and (min-width: $mobile) {
      margin: 0 0 0 $small;
    }

    @media screen and (min-width: $tablet) {
      margin: 0 0 0 $small;
      width: calc(100vw - calc($small) * 2);
    }

    @media screen and (min-width: 1351px) {
      margin: 0 0 0 246px;
      width: calc(100vw - 270px);
    }

    .progress-bar {
      height: 2px;
      align-self: stretch;
      width: 100%;
      position: relative;
      margin: auto $small;

      & > [class*="bar"] {
        height: 2px;
        margin: 0 auto;
        background: $green;
      }

      .active-bar {
        position: absolute;
        width: 20%;
        top: 50%;
        margin-top: -1px;
        transition: width .5s ease;
      }

      .bg-bar {
        width: 100%;
        opacity: .3;
      }
    }

    .carousel-btn {
      color: $grey;
      opacity: 1;
      white-space: nowrap;
      transition: color .2s ease;

      &:disabled {
        color: $lightGrey;
      }
    }
  }
}

.contact-us {
  padding: $large 0 $xl 0;
  position: relative;
  background-color: $lightestGreen !important;

  @media screen and (min-width: $tablet) {
    background-color: white !important;

    &:after {
      content: '';
      background: $lightestGreen;
      position: absolute;
      left: 57.5vw;
      width: 42.5vw;
      top: 0;
      height: calc(100% + $medium);
    }
  }

  hr + p {
    font-size: 14px;
    color: $lightGrey;
    max-width: 350px;
  }

  form,
  aside {
    position: relative;
    z-index: 2;
  }

  form {
    @media screen and (min-width: $tablet) {
      lost-column: 8/12;
    }

    .form {
      label,
      input,
      textarea,
      select {
        border-radius: 0;
        color: $grey;
        display: block;
        font-weight: $bold;
        font-size: 12px;
        line-height: 33px;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 1px;
        padding: $micro 0;
        margin: $medium 0;
        width: 100%;
        transition: border .2s ease;

        &::placeholder {
          color: $grey;
          letter-spacing: 3px;
        }

        &:focus {
          border-bottom-color: $green;
        }
      }

      label {
        color: $grey;
        letter-spacing: 3px;
      }

      input,
      textarea {
        display: block;
        background: none;
        border: none;
        border-bottom: 1px solid $grey;
        box-sizing: border-box;
        outline: none;
        box-shadow: none;
        width: 100%;
      }

      textarea {
        margin-top: 0;
      }

      .half {
        width: 100%;

        @media screen and (min-width: $tablet) {
          lost-column: 1/2;
          float: left;
        }

        > *:not(select) {
          width: auto;
          float: left;
          display: inline;
          margin: 0;
          padding: 0;
        }

        &[type="checkbox"] {
          margin: 9px $micro 0 0;
        }
      }

      .checkboxes {
        h4 {
          margin-top: $medium;
        }

        .half {
          margin-top: $tiny;
          display: inline-block;
        }

        label {
          margin: -11px 0 0 8px;
        }
      }

      select {
        -o-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: none;
        border: none;
        color: $grey;
        border-radius: 0;
        outline: none;
        text-transform: uppercase;
        margin: 0;
        padding: 4px $tiny;
        box-sizing: border-box;
        width: 100%;
        transition: color .2s ease;
        cursor: pointer;
      }

      .dropdown {
        box-sizing: border-box;
        position: relative;
        border: 1px solid $grey;
        background: transparent;
        transition: background .2s ease, border .2s ease;
        cursor: pointer;
        margin: $small 0 $tiny 0;

        &:after {
          content: '▼';
          position: absolute;
          right: $tiny;
          top: 17px;
          z-index: 2;
          font-size: $micro;
          transition: color .2s ease;
        }

        &:hover {
          background: $orange;
          border-color: $orange;

          &:after {
            color: white;
          }

          select {
            color: white;
          }
        }
      }
    }

    .btn-primary {
      width: 100%;

      @media screen and (min-width: $tablet) {
        width: initial;
        float: right;
      }
    }
  }

  aside {
    @media screen and (min-width: $tablet) {
      lost-column: 3/12;
      lost-offset: 1/12;
    }

    h4 {
      margin-top: $medium;
    }

    p {
      font-size: 14px;
      color: $lightGrey;

      a {
        color: $grey;
        text-decoration: underline;
      }
    }
  }
}
