@import url('https://fonts.googleapis.com/css?family=Muli:900|Roboto:700');
@import "imports/reset.css";
@import "imports/global.css";
@import "imports/typography.css";
@import "imports/buttons.css";
@import "imports/header.css";
@import "imports/footer.css";

section:not(.our-story) {
  background-color: white;
}

.hero {
  lost-align: middle-left;
  position: relative;
  margin-bottom: calc(300px + calc($large * 2) + 106px); /* height of video parallax */
  height: 100vh;
  box-sizing: border-box;
  padding: $large 0;

  &:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(/img/hero-bg.png) 55vw 0 no-repeat;
    background-size: contain;
    background-size: auto 100%;
    height: calc(100vh + $large);
  }

  .content {
    lost-column: 3/5;

    .paragraphs {
      lost-align: top;
    }
  }

  .logo {
    height: $large;
    width: auto;
    margin-bottom: $small;
  }

  h3 {
    margin-bottom: $micro;
  }

  p {
    color: $lightGrey;
    lost-column: 1/2 2;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
  overflow: hidden;

  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.our-story {
  position: relative;
  padding-bottom: calc(34px + $large);

  &:after {
    content: '';
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    height: calc(100% - $large - 106px);
  }

  .container {
    background: $lightestGreen;
    margin-top: calc(-106px - $large);
    position: relative;
    box-sizing: border-box;
    padding: $large $large $large 0;
    z-index: 2;
    align-items: flex-start;

    > * {
      z-index: 1;
    }

    &:before {
      content: '';
      position: absolute;
      background: $lightestGreen;
      width: 5000px;
      height: 100%;
      left: calc(50% - 5000px);
      top: 0;
    }
  }

  .headline {
    lost-column: 3/12;
    position: relative;

    hr {
      position: absolute;
      right: 0;
      top: 7px;
      transform: none;
      z-index: -1;
    }
  }

  .content {
    lost-column: 7/12;
    margin-bottom: -139px;

    p:first-child {
      margin-top: 6px;
    }
  }

  .cta {
    lost-column: 3/12 3;
    lost-offset: -1/12;
    background: $orange;
    color: white;
    box-sizing: border-box;
    padding: $small;
    transform: translateX(calc((100% / 3) - 3px + $small));
    transition: background .2s ease;

    @media screen and (min-width: 1080px) {
      transform: translateX(calc((99.9% / 3) * 2));
    }

    &:hover {
      background: $lightOrange;
    }

    p {
      margin: -7px 0 19px 0;
      padding: 0;

      &:not(.link) {
        font-size: 14px;
      }
    }

    .link {
      opacity: 1;
      margin: 0 0 -13px 0;

      &:after {
        content: '→';
        float: right;
      }
    }
  }

  .rosemary {
    position: absolute;
    bottom: -$medium;
    left: 80%;
    z-index: 2;
    mix-blend-mode: multiply;
    max-width: 525px;
    max-height: 381px;
    width: 20vw;
    height: auto;
  }
}

.occasions {
  padding: $large 0;
  position: relative;

  &:before {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 182px;
    width: $large;
    height: 100%;
    z-index: 1;
  }

  .carousel {
    margin-left: 182px;
    width: calc(100vw - 182px);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: calc((350px * 5) + ($small * 4));
    white-space: nowrap;
  }

  li {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: $large;

    &:last-child {
      margin-right: $large;
    }
  }

  .thumbnail {
    background: $lightGreen;
    width: 100%;
    height: 500px;

    &.weddings {
      background: $lightGreen url(/img/weddings-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.corporate {
      background: $lightGreen url(/img/corporate-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.office {
      background: $lightGreen url(/img/office-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.private {
      background: $lightGreen url(/img/private-thumb.jpg) no-repeat center;
      background-size: cover;
    }

    &.meetings {
      background: $lightGreen url(/img/meeting-thumb.jpg) no-repeat center;
      background-size: cover;
    }
  }

  .content {
    margin-top: -$xxl;
    background: white;
    width: calc(100% - $large);
    padding: $small;
    box-sizing: border-box;

    h2,
    p,
    hr {
      white-space: normal;
    }

    p {
      color: $lightGrey;
      font-size: 14px;
    }
  }

  .controls {
    margin-left: 246px;
    width: calc(100vw - 270px);
    display: flex;
    align-items: center;

    .progress-bar {
      height: 2px;
      align-self: stretch;
      width: 100%;
      position: relative;
      margin: auto $small;

      & > [class*="bar"] {
        height: 2px;
        margin: 0 auto;
        background: $green;
      }

      .active-bar {
        position: absolute;
        width: 20%;
        top: 50%;
        margin-top: -1px;
        transition: width .5s ease;
      }

      .bg-bar {
        width: 100%;
        opacity: .3;
      }
    }

    .carousel-btn {
      color: $grey;
      opacity: 1;
      white-space: nowrap;
      transition: color .2s ease;

      &:disabled {
        color: $lightGrey;
      }
    }
  }
}

.contact-us {

}
