{{ define "main" }}
<section id="hero" class="hero">
  <div class="container">
    <div class="content">
      <img alt="image"class="logo" src="/img/logo.svg"/>
      <h1>Every moment worth celebrating</h1>
      <hr>
      <h3>We are Lifted Plate – your full service catering and events company, serving the San Francisco Bay Area.</h3>
      <div class="paragraphs">
        <p>Celebrate the big and the little things in life. From team meetings to private events and weddings, our service will exceed your expectations on every level. Our food is prepared with fresh local ingredients, and always made from scratch.</p>
        <p>Whether you need drop-off service, full-service catering, or styling and management, We’d love to help you bring it to life! Contact us today to start a conversation about your event.</p>
      </div>
    </div>
  </div>
</section>

<section class="video">
  <iframe title="background-video" src="https://player.vimeo.com/video/325567862?autoplay=1&loop=1&color=00C7B7&title=0&byline=0&portrait=0" allow="autoplay" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>

<section id="our-story" class="our-story">
  <div class="container">
    <div class="headline">
      <h2>Our Story</h2>
      <hr>
    </div>
    <div class="content">
      <p>
        We are a family-owned and -operated business based in Oakland, CA.
      </p>
      <p>
        We started as owners of an assisted living home in Walnut Creek. This home had been in our family for generations, and had a reputation for its excellent food. We expanded this tradition to include special events – which we styled, managed, and catered to perfection. It wasn’t long before our clients were asking us to plan and cater their own events.
      </p>
      <p>
        With demand for our services increasing, we made the decision to go full time. And so Lifted Plate was born – out of a tradition of excellent service, superior ingredients, sustainable business practices, and impeccable attention to detail.
      </p>
      <p>
        For us, there’s nothing more satisfying than watching an event come to life – complete with laughter, new friends, and full bellies. We truly love what we do. We hope to share our passion and experience with you – to make your event the best and most memorable it can be.
      </p>
    </div>
    <div data-scroll="contact-us" class="cta scroll-to">
      <p>Tell us your story.</p>
      <p class="link">contact us</p>
    </div>
    <img alt="image"class="rosemary" src="/img/rosemary.png"/>
  </div>
</section>

<section id="occasions" class="occasions">
  <div class="carousel" id="carousel">
    <ul>
      <li>
        <div class="thumbnail weddings"> </div>
        <div class="content">
          <h2>Weddings.</h2>
          <hr>
          <p>Your wedding day, as you’ve always imagined – catered and styled to perfection.</p>
        </div>
      </li>
      <li>
        <div class="thumbnail corporate"> </div>
        <div class="content">
          <h2>Corporate Events.</h2>
          <hr>
          <p>From office parties and retreats to conferences with thousands of attendees, we’ll make the food a highlight of your event. </p>
        </div>
      </li>
      <li>
        <div class="thumbnail office"> </div>
        <div class="content">
          <h2>Office Catering.</h2>
          <hr>
          <p>Enjoy delicious, nutrient-rich meals delivered to your office, daily. </p>
        </div>
      </li>
      <li>
        <div class="thumbnail private"> </div>
        <div class="content">
          <h2>Private Events.</h2>
          <hr>
          <p>Serving birthday parties, bar/bat mitzvahs, anniversaries, and any other reason to celebrate and enjoy a delicious meal!</p>
        </div>
      </li>
      <li>
        <div class="thumbnail meetings"> </div>
        <div class="content">
          <h2>Meetings.</h2>
          <hr>
          <p>It doesn’t have to be pizza! We’ll deliver budget-friendly, scrumptious meals for your next meeting!</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="controls">
    <button class="prev-slide carousel-btn" id="prev-slide-btn" disabled>← Prev</button>
    <div class="progress-bar">
      <div class="active-bar" id="carousel-active-bar"> </div>
      <div class="bg-bar"> </div>
    </div>
    <button class="next-slide carousel-btn" id="next-slide-btn">Next →</button>
  </div>
</section>

<section id="contact-us" class="contact-us">
  <div class="container">
    <form id="contact-form" name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/?=thank-you" netlify data-validate>
      <div class="intro">
        <h2>Contact Us</h2>
        <hr>
        <p>Tell us about your event and we’ll be in touch within 24 hours with a sample menu.</p>
      </div>
      <div class="form">
        <label for="name" class="hidden">name</label>
        <label for="phone" class="hidden">phone</label>
        <label for="email" class="hidden">email</label>
        <label for="type" class="hidden">type</label>
        <label for="count" class="hidden">count</label>
        <label for="date" class="hidden">date</label>
        <label for="address" class="hidden">address</label>
        <label for="message" class="hidden">message</label>

        <input id="name" placeholder="Your Name" name="name" type="text" required/>
        <input id="phone" placeholder="Your Phone Number" name="phone" type="tel"/>
        <input id="email" placeholder="Your Email Address" name="email" type="email" required/>
        <div class="dropdown">
          <select id="type" name="Type of Event" required>
            <option value="Type of Event" selected disabled>Type of Event</option>
            <option value="Wedding">Wedding</option>
            <option value="Corporate event">Corporate event</option>
            <option value="Office Catering">Office Catering</option>
            <option value="Private Events">Private Events</option>
            <option value="Meetings">Meetings</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="dropdown">
          <select id="count" required>
            <option value="Total Guest Count" selected disabled>Total Guest Count</option>
            <option value="<100"><100</option>
            <option value="100 - 250">100 - 250</option>
            <option value="250 - 500">250 - 500</option>
            <option value="500 - 1,000">500 - 1,000</option>
            <option value="1,000+ ">1,000+</option>
          </select>
        </div>
        <div class="checkboxes clearfix">
          <h4>Services Requested (select all)</h4>
          <hr>
          <div class="half">
            <input id="full-service" type="checkbox" value="<-- I need this" name="Full service catering">
            <label for="full-service">Full service catering</label>
          </div>
          <div class="half">
            <input id="drop-off" type="checkbox" value="<-- I need this" name="Drop-off catering">
            <label for="drop-off">Drop-off catering</label>
          </div>
          <div class="half">
            <input id="event-coord" type="checkbox" value="<-- I need this" name="Event coordination">
            <label for="event-coord">Event coordination</label>
          </div>
          <div class="half">
            <input id="event-styling" type="checkbox" value="<-- I need this" name="Event styling">
            <label for="event-styling">Event styling</label>
          </div>
          <div class="half">
            <input id="other" type="checkbox" value="<-- I need this" name="Other">
            <label for="other">Other</label>
          </div>
        </div>
        <input id="date" placeholder="Date of Event:" name="date" type="date" required/>
        <input id="address" placeholder="Event Address/Location" name="location" type="text" required/>
        <textarea id="message" placeholder="Tell us about your event" name="message" rows="1" required></textarea>
        <button class="btn-primary" type="submit">Send</button>
      </div>
    </form>
    <aside>
      <h4>Now Serving</h4>
      <p>The San Francisco Bay Area</p>

      <h4>Get in Touch</h4>
      <p><a href="hello@liftedplate.com">hello@liftedplate.com</a></p>

      <h4>Social</h4>
      <p>Connect with us on <a href="#">Facebook</a></p>
    </aside>
  </div>
</section>
{{end}}
